@import url('https://fonts.googleapis.com/css?family=Lora|Quicksand');
body {
	font-family: Quicksand, Helvetica, sans-serif;
	line-height: normal;
}
header, footer {
	background-color: rgba(233, 181, 12, 0.753);
	color: black;
	padding:10px;
	text-align: center;	

}
header{
	background-color: rgba(233, 181, 12, 0.753);
	padding:10px;
}
header, footer, main {
	max-width: 612px;
	margin: auto;
		
}
h1 {
	font-family:Lora, Georgia, Courier; 
	font-size: 32px;
    color:  rgb(14, 13, 13);
	text-align: center;
	margin-right: 150px;
}
h2 {
	font-size: 1.27em;
	color:green;	
	border-bottom: solid 1px #110e0e;
    margin-bottom: 0;
    width: 79%;
	
}
header img {
	float: right;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
	width: 22%;
	margin-top: -79px;
}
main {
	padding-left: 20px;
	
}
li a {
	color:green;
	text-decoration: none;
	

}
li a:hover {
	color: blue;
}

footer p a {
	
	color:black;
}
footer p a:hover {
	color: rgb(24, 5, 80);
}
#outcome {
    color: green;
    font-size: 12.5px;
}
