@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    font-family: Quicksand, Helvetica, sans-serif;
}
footer, main {
	max-width: 80em;
	margin: 0 auto;
}
header, nav {
	margin: 0 auto;
}
/* heading */
header {
	background-color:  #DD7E8B;
	display: flex;
	align-items: center;
	justify-content: center;
}
header img {
	width: 80px;
	height:	auto;
    margin-left: -122px;
}
.headings {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.headings h1 {
	font-size: 19px;
	color: #000000;
	margin: 0px;
}  
   
.moto {
        color: #000000;
        font-style: italic;
        font-size: 11px;

}
/*header navigation */
nav {
	background-color: #FFE770;
}
.navigation {
	max-width: 82em;
	list-style: none;
	background-color:#FFE770;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	font-size: 16px;	
	color: #000000;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
}
.responsive li {
	display: block;
}
nav a:hover {
	background-color:#DD7E8B;
	color: #ffffff;
}
.menuname {
	background-color: #99C5FF;
	border-left: 4px solid  #DD7E8B;
	border-right: 4px solid #DD7E8B;
}
/* placeholder main*/
main {
	display: flex;
	flex-direction: column;
	padding: 14px;
}
main div {
	border: dotted 1px  #DD7E8B;
	background-color:  #99C5FF;
	margin: 15px;
	padding: 15px;
}
/* footer */
footer {
	background-color: #FFE770;
	display: flex;
	justify-items: center;
	justify-content: center;
	align-self: center;
}
footer p {
	font-size: 14px;
}
/* typography */
h1 {
	font-size: 20px;
	color: #DD7E8B;
}
h2 {
	font-size: 16px;
	color: #000000;
}
h3 {
	font-size: 14px;
	color: #DD7E8B;
}
p {
	font-size: 12px;
}