@media only screen and (min-width: 40em) {
    h1 {
        font-size: 30px;
     }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 21px;
    }
    p, span {
        font-size: 16px;
    }
    header img {
        width: 129px;
        
    }
    .headings h1 {
        font-size: 40px;
    }
    .moto {
        font-size: 21px;
    }
	.navigation {
		display: flex;
	}
	.navigation li {
        flex: 1 1 auto;
		display: block;
	}
	.navigation li:first-child {
		display: none;
    }
    .navigation a {
        font-size: 18px;
    }
    nav ul {
        flex-flow: row wrap;
    }
    footer p {
        font-size: 17px;
    
    }
   
   .footer{
    background-color: #FFE770;
    padding: 5%;
}  
#wGallery {
    grid-template-columns: 1fr 1fr;	
    }
}

