body {
    font-family: 'Quicksand', Helvetica, sans-serif;
}
main {
	max-width: 80em;
	margin: 0 auto;
	padding: 10px;
}
header, nav, footer, #prestonPancakes {
	margin: 0 auto;
}
/* typography */
h1 {
	font-size: 20px;
	color: #000000;
}
h2 {
	font-size: 16px;
	color: #000000;
}
h3 {
	font-size: 14px;
	color:#000000;
}

a {
	text-decoration: none;
}
/* heading */
header {
	background-color:#DD7E8B;;
	display: flex;
	align-items: center;
	justify-content: center;
}
header img {
	width: 80px;
	height:	auto;
}
.headings {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.headings h1 {
	font-size: 20px;
	color:#000000;
	margin: 0;

}
.moto {
	color: #000000;
	font-style: italic;
	font-size: 12px;
}
/*header navigation */
nav {
	background-color: #FFE770;
}
.navigation {
	max-width: 80em;
	list-style: none;
	background-color: #FFE770;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	font-size: 16px;	
	color: #000000;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
}
.responsive li {
	display: block;
}
nav a:hover {
	background-color: #DD7E8B;
	color: #000000;
}
.menuname {
	background-color: #99C5FF;
	border-left: 4px solid #DD7E8B;
	border-right: 4px solid #DD7E8B;
}

/* footer */
#footerBar {
	background-color: #DD7E8B;
	color: #000000 ;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
footer p {
	font-size: 14px;
}

footer{
	background-color:#FFE770;;
    padding: 0.1em;
    display: block;
  
}
/* weather gallery page */
#wGallery {
	display:grid;
	grid-template-columns: 1fr;	
	grid-gap: 30px;
}
.galleryPart {
	box-shadow: 0px 0px 15px 1px #888888;
}
.galleryPart picture img {
	width: 100%;
	height:	auto;
}
.galleryPart p {
	padding: 10px;
	margin: 0;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.flyIn {
    animation-name: fadeIn;
    animation-duration: 2s;
}

#lastVisitdate{
	background: #FFE770;;
	padding: 15px;
	text-align: center;
	display: block;

}