:root {
    --h-text: 'Noto', serif;
    --t-text: 'Quicksand', sans-serif;
    --accent-b: #0e0d0c;
    --accent-b-h:#5e512e;
    --accent-g:  #b6a168;
    --accent-w: #fff;

    

}

input, textarea {
    width: 100%;
    max-width: 500px;
    font-size: 14px;
    font-family: var(--t-text);
}

.Get-in-touch{
    font-family: var(--t-text);
    display: block;
    background-color: #5e512e;
    border: 1px solid black;

}

.contact-us-form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.contact-us-form form {
    margin: 0 auto;
    padding: 16px;
    width: 90%;
    max-width: 530px;
}

.contact-us-form .input-section input {
    height: 40px;
    padding: 8px;
    margin-bottom: 15px;
    font-family: var(--t-text);
    border: none;
    border-bottom: 1px solid var(--accent-b-h);
}

.contact-us-form .input-section label {
    font-family: var(--h-text);
}

.contact-us-form .input-section textarea {
    padding: 6px;
    margin-bottom: 10px;
    height: 120px;
  
}

.contact-us-form .input-section .submit {
    font-family: var(--t-text);
    font-size: 16px;
    font-weight: 600;
    padding: 4px 7px 4px 7px;
    background-color: var(--accent-b);
    color: var(--accent-g);
    border: 0;
}

.contact-us-form .input-section .submit:hover {
    background-color: #5e512e;
    color: var(--accent-b);
}

.contact-us-form form h3 {
    text-align: left;
    margin-bottom: 2px;
}

.board {
    float: right;
}

.board-of-directors {
    width: 100%;
    background-color: var(--accent-g);
    color: var(--accent-b);
    padding: 32px;
    padding-bottom: 60px;
}

.board-of-directors div {
    max-width: 370px;
    font-family: var(--t-text);
   
    margin: 0 auto;
    padding-top: 8px;
}

.fa-play-circle {
    padding-right: 5px;
    font-size: 16px;
    color: black;
}

.thank-you {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 16px 80px 16px;
}

.thank-you h2 {
    color: var(--accent-b-h);
}

.thank-you p {
    font-size: 20px;
    text-align: center;
}

/* ----- desktop view (50 em) -------------------------- */
@media only screen and (min-width: 50em) { 

    .contact-us-form {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-us-form form {
        width: 52%;
    }

    .board-of-directors {
        padding-top: 60px;
        border-radius: 12px;
        width: 52%;
    }

    .board-of-directors div {
        padding-top: 17px;
    }

}