:root {
    --h-text: 'Noto', serif;
    --t-text: 'Quicksand', sans-serif;
    --accent-b: #0c0900;
    --accent-b-h:#5e512e;
    --accent-g: #b6a168;
    --accent-w:#ffff;
}
.hero-img{
    margin-top: 12px;
    margin-bottom: 9px;
}

.toggle-biz {
    display: none;
}

/* cards view */

.card-output-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.biz-data-card {
    width: 280px;
    padding: 16px;
    background-color: var(--accent-g);
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    color: var(--accent-w);
    letter-spacing: 0.1em;
    line-height: 1.2em;
}

.biz-data-card .img {
    margin: 0 auto;
}

.biz-data-card .biz-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.biz-data-card .biz-info .name {
    font-size: 22px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.button a {
    text-decoration: none;
    color: var(--accent-w);
    font-weight: 700;
    font-family: var(--t-text);
}

.button a div {
    width: 160px;
    border: 1px solid var(--accent-b);
    text-align: center;
    margin: 15px auto 0 auto;
    padding: 4px;
    background-color: #0c0900;
}

.button a div:hover {
    border: 1px solid var(--accent-b);
    color: var(--accent-w);
}

/* ----- tablet view (36 em) -------------------------- */
@media only screen and (min-width: 36em) { 

    .toggle-biz {
        margin-bottom: 16px;
        margin-left: 4px;
    }

    .toggle-biz .active {
        background-color: #b6a168;
    }
    
    .toggle-biz {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .b-button {
        font-family: var(--t-text);
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        width: 80px;
        padding: 6px;
        background-color: #5e512e;
    }
    
    .b-button:hover {
        background-color: var(--accent-w)
    }


    .card-output-list {
        display: flex;
        flex-direction: column;
    }

    .biz-data-list {
        width: 100%;
        padding: 16px;
        background-color: var(--accent-g);
        margin-bottom: 16px;
        display: flex;
        flex-direction: row;
        color: var(--accent-w);
        letter-spacing: 0.1em;
        line-height: 1.2em;
    }

    .biz-data-list .biz-info {
        padding-left: 12px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .biz-data-list .biz-info div {
        width: 260px;
    }

    .biz-data-list .img {
        width: 100px;
        margin: 0;
    }

    .biz-data-list .img img {
        width: 75px;
        height: 75px;
        object-fit: cover;
    }

    .biz-data-list .biz-info div .name {
        font-size: 22px;
        padding-bottom: 7px;
        padding-top: 7px;
    }
}

/* ----- desktop view (50 em) -------------------------- */
@media only screen and (min-width: 50em) { 


}