:root {
    --h-text: 'Noto', serif;
    --t-text: 'Quicksand', sans-serif;
    --accent-b: #070500;
    --accent-b-h:#5e512e;
    --accent-g: #f3eba5b6;
    --accent-w: #b6a168;
}

footer {
    min-height: 70px;
    background-color: var(--accent-b);
    padding: 14px;
    min-height: 4em;
    font-size: 0.85em;
    line-height: 1.6em;
    font-size: 16px;
    text-align: center;
    color: #ffff;
    font-family: var(--t-text);
}

.footer-links a {
    color: #ffff;
}

