:root {
    --h-text: 'Noto', serif;
    --t-text: 'Quicksand', sans-serif;
  
}

footer {
    min-height: 70px;
    background-color:#070500;
    padding: 14px;
    min-height: 4em;
    font-size: 0.85em;
    line-height: 1.6em;
    font-size: 16px;
    text-align: center;
    color: #ffff;
    font-family: var(--t-text);
}

.footer-links a {
    color: #ffff;
}

