:root {
    --h-text: 'Noto', serif;
    --t-text: 'Quicksand', sans-serif;
    
}

header {
    height: 172px;
    width: 100%;
    background-color:  #0c0900;

}

header div {
    display: block;
    width: 300px;
    margin: 0 auto;
}

header div a img {
    margin-bottom: 42px;
    width: 100%;

    
}

