:root {
    --h-text: 'Noto', serif;
    --t-text: 'Quicksand', sans-serif;
   
}

.mission {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #fff;
    color: #0e0d0c;
    border: 1px solid black;

}

.mission h2 {
    width: 100%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color:  #0a0a09;
}

.mission p {
    width: 100%;
    padding: 16px;
    font-size: 20px;
    margin: 0;
}

.mission .info {
    display: flex;
    flex-direction: column;
}
.hero-img{
    padding-top: 12px

}
.featured-members {
    width: 100%;
    background-color:  #b6a168;
    padding: 16px;
}

.featured-members h2 {
    padding: 10px;
    font-weight: 700;
}

.f-members {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.member {
    margin-top: 16px;
    border: 1px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.member .member-text h3 {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;
    position: relative;
    text-align: left;
}

.member .member-text h3:before {
    content:"\A";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #0e0d0c;
    position: absolute;
    left: 0;
    filter: drop-shadow(0px 0px 0.5px black);
}

.member .member-text p {
    margin-bottom: 10px;
}

.member .member-text .button a {
    text-decoration: none;
    color: #ffff;
    font-family: var(--t-text);
}

.member .member-text .button a div {
    width: 120px;
    text-align: center;
    margin-top: 18px;
    padding: 8px;
    background-color: #0e0d0c;
    filter: drop-shadow(0px 0px 1px black);
}

.member .member-text .button a div:hover {
    filter: drop-shadow(0px 0px 3px black);
}

.member picture img {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 3px black);
    object-fit: contain;
}

.events-weather {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
}

.events {
    width: 100%;
    padding: 16px;
    background-color: #b6a168;;
    color: #ffff;
}

.events h2 {
    color: #0e0d0c;
    
}

.event-list {
    font-family: var(--t-text);
    max-width: 397px;
    margin: 0 auto;
    
    
}

.event-list div {
    margin-bottom: 12px;
    font-size: 14px;
}

.event-list div .e-name {
    
    letter-spacing: 0.29em;
    font-size: 16px;
    color: #0e0d0c;
    margin-bottom: 4px;

}

.event-list div .location {
    color: #0e0d0c;
}

.weather {
    width: 100%;
    padding: 14px;
    background-color: #fff;
}

.title-current {
    width: 268px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
}

.title-current div h2 {
    width: 100px;
    padding: 14px;
}

.title-current div .temp {
    font-size: 40px;
}

.title-current .current-weather {
    width: 100%;
}

.title-current .current-weather .temp-icon {
    width: 168px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.temp-icon .t {
    padding-top: 10px;
}

.temp-icon .t,
.temp-icon .icon-condition  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forecast {
    margin-bottom: 40px;
}

.forecast h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.forecast-table {
    margin: 0 auto;
    width: 100%;
    max-width: 420px;
}

.forecast-table tr th {
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 33%;
}

.forecast-info img {
    display: block;
    margin: 0 auto;
    width: 33%;
}

.forecast-info div {
    margin-bottom: 10px;
}

.forecast-info div div {
    margin-top: 2px;
    margin-bottom: 4px;
    text-align: center;
}

.f-i-temp {
    font-size: 18px;
    font-weight: 700;
}

.hr {
    max-width: 400px;
    margin: 0 auto;
}

.weather-alert {
    width: 100%;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 8px;
    color: #ffff;
    background-color: rgb(78, 65, 8);
}

.weather-alert p {
    letter-spacing: 0.1em;
    text-align: center;
}

#close-weather-banner {
    text-decoration: underline;
    cursor: pointer;
}

/* ----- tablet view (36 em) -------------------------- */
@media only screen and (min-width: 36em) { 

    .mission {
        padding-left: 18px;
        padding-right: 18px;
    }

    .mission .info {
        display: flex;
        flex-direction: row;
    }

    .mission p {
        width: 50%;
        padding: 12px;
    }

    .f-members {
        max-width: 100%;
    }

    .member .member-text p {
        margin-bottom: 10px;
    }
    
    .member .member-text .button a {
        text-decoration: none;
        color: #ffff;
        font-family: var(--t-text);
    }
    
    .member .member-text .button a div {
        width: 120px;
        text-align: center;
        margin-top: 18px;
        padding: 8px;
        background-color: #0e0d0c;
        filter: drop-shadow(0px 0px 1px black);
    }
    
    .member .member-text .button a div:hover {
        filter: drop-shadow(0px 0px 3px black);
    }
    
    .member picture img {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
        filter: drop-shadow(0px 0px 3px black);
        object-fit: contain;
    }
    
    .address-sec {
        flex-direction: row;
    }

    .map {
        min-width: 50%;
    }
    
    .map iframe {
        height: 400px;
    }
}

/* ----- desktop view (50 em) -------------------------- */
@media only screen and (min-width: 50em) { 

    .mission {
        border-radius: 20px;
    }

    .f-members {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .member {
        max-width: 32%;
        flex-direction: column;
    }

    .member picture img {
        width: 100%;
        margin-top: 5px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .events-weather {
        flex-direction: row;
    }

    .events {
        width: 50%;
    }

    .weather {
        width: 50%;
    }
}