:root {
    --h-text: 'Noto', serif;
    --t-text: 'Quicksand', sans-serif;
 
}

.banner {
    background-color: #0a0a09;
	color: #fff ;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    filter: drop-shadow(0px 0px 1px #978154);
}

.banner:hover {
    background-color: #3b3a35;
}

.banner a {
    text-decoration: none;
    color: #fff;
  
}

.banner h1 {
    margin: 0;
}

/* ----- desktop view (50 em) -------------------------- */
@media only screen and (min-width: 50em) {
   
    }

