:root {
    --h-text: 'Noto', serif;
    --t-text: 'Quicksand', sans-serif;
}

input, textarea {
    width: 100%;
    max-width: 500px;
    font-size: 14px;
    font-family: var(--h-text);
}

.red {
    color: black;
}

.join-us-form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.join-us-form form {
    margin: 0 auto;
    padding: 16px;
    width: 90%;
    max-width: 530px;
}

.join-us-form .input-zone input {
    height: 40px;
    padding: 8px;
    margin-bottom: 15px;
    font-family: var(--t-text);
    border: none;
    border-bottom: 1px solid #5e512eb7;
}

.join-us-form .input-zone label {
    font-family: var(--h-text);
}

.join-us-form .input-zone textarea {
    padding: 6px;
    margin-bottom: 10px;
    height: 120px;
}

.join-us-form .input-zone .submit {
    font-family: var(--t-text);
    font-size: 16px;
    font-weight: 600;
    padding: 6px 8px 6px 8px;
    background-color: #0a0a09;
    color: #978154;
    border: 0;
}

.join-us-form .input-zone .submit:hover {
    background-color:#5e512eb7;
    color: #ffff;
}

.join-us-form form h3 {
    text-align: left;
    margin-bottom: 2px;
    
}

.membership-type {
    width: 100%;
    background-color: #978154;
    color: #0a0a09;
    padding: 16px;
}

.membership-type div {
    width: 100%;
    font-family: var(--t-text);
    letter-spacing: 0.1em;
}

.far fa-gem {
    font-size: 40px;
    margin: 6px;
}

.perk-div {
    padding-bottom: 24px;
}

.perk {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ordinary-member {
    color: #0a0a09;
    font-size: 30px;
    border-top: 2px solid #0a0a09;
    border-bottom: 2px solid #0a0a09;
    text-align: center;
}

.ordinary-member-caret-right{
    color: #0a0a09;
    font-size: 20px;
}

.seas-member {
    color: #040f49;
    font-size: 30px;
    border-top: 2px solid #040f49;
    border-bottom: 2px solid #040f49;
    text-align: center;
}

.seas-member-caret-right {
    color: #040f49;
    font-size: 20px;
}

.silver {
    color: #dcd9d6;
    font-size: 30px;
    border-top: 2px solid #dcd9d6;
    border-bottom: 2px solid #dcd9d6;
    text-align: center;
}

.silver-caret-right {
    color: #dcd9d6;
    font-size: 20px;
}

.gold {
    color: rgb(211, 181, 13);
    font-size: 30px;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    text-align: center;
}

.gold-caret-right {
    color: goldenrod;
    font-size: 20px;
}

.thank-you {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 16px 80px 16px;
}

.thank-you h2 {
    color:#0a0a09;
}

.thank-you p {
    font-size: 20px;
    text-align: center;
}

#join-us-intro {
    font-family: var(--t-text);
    color: #0a0a09;
    margin: 16px;
}

/* ----- desktop view (50 em) -------------------------- */
@media only screen and (min-width: 50em) { 

    .join-us-form {
        flex-direction: row;
        justify-content: space-between;
    }

    .join-us-form form {
        width: 50%;
    }

    .membership-levels {
        padding-top: 30px;
        border-radius: 30px;
        width: 50%;
    }
}