:root {
    --h-text: 'Noto', serif;
    --t-text: 'Quicksand', sans-serif;
    --accent-b: #0a0a09;
    --accent-b-h:#5e512eb7;
    --accent-g:  #978154;
    --accent-w: #fff;
}

input, textarea {
    width: 100%;
    max-width: 500px;
    font-size: 14px;
    font-family: var(--h-text);
}

.red {
    color: black;
}

.join-us-form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.join-us-form form {
    margin: 0 auto;
    padding: 16px;
    width: 90%;
    max-width: 530px;
}

.join-us-form .input-section input {
    height: 40px;
    padding: 8px;
    margin-bottom: 15px;
    font-family: var(--t-text);
    border: none;
    border-bottom: 1px solid var(--accent-g);
}

.join-us-form .input-section label {
    font-family: var(--h-text);
}

.join-us-form .input-section textarea {
    padding: 6px;
    margin-bottom: 10px;
    height: 120px;
}

.join-us-form .input-section .submit {
    font-family: var(--t-text);
    font-size: 16px;
    font-weight: 600;
    padding: 6px 8px 6px 8px;
    background-color: var(--accent-b);
    color: var(--accent-g);
    border: 0;
}

.join-us-form .input-section .submit:hover {
    background-color: var(--accent-b-h);
    color: var(--accent-w);
}

.join-us-form form h3 {
    text-align: left;
    margin-bottom: 2px;
    
}

.membership-type {
    width: 100%;
    background-color: var(--accent-g);
    color: var(--accent-b);
    padding: 16px;
}

.membership-type div {
    width: 100%;
    font-family: var(--t-text);
    letter-spacing: 0.1em;
}

.far fa-gem {
    font-size: 40px;
    margin: 6px;
}

.perk-div {
    padding-bottom: 24px;
}

.perk {
    padding-top: 8px;
    padding-bottom: 8px;
}

.Ordinary-member {
    color: var(--accent-b);
    font-size: 30px;
    border-top: 2px solid var(--accent-b);
    border-bottom: 2px solid var(--accent-b);
    text-align: center;
}

.Ordinary-member-caret-right{
    color: var(--accent-b);
    font-size: 20px;
}

.seas-member {
    color: #5e512e;
    font-size: 30px;
    border-top: 2px solid #5e512e;
    border-bottom: 2px solid #5e512e;
    text-align: center;
}

.seas-member-caret-right {
    color: #5e512e;
    font-size: 20px;
}

.silver {
    color: rgb(201, 196, 196);
    font-size: 30px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    text-align: center;
}

.silver-caret-right {
    color: silver;
    font-size: 20px;
}

.gold {
    color: rgb(211, 181, 13);
    font-size: 30px;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    text-align: center;
}

.gold-caret-right {
    color: goldenrod;
    font-size: 20px;
}

.thank-you {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 16px 80px 16px;
}

.thank-you h2 {
    color: var(--accent-b-h);
}

.thank-you p {
    font-size: 20px;
    text-align: center;
}

#join-us-intro {
    font-family: var(--t-text);
    color: var(--accent-b-h);
    margin: 16px;
}

/* ----- desktop view (50 em) -------------------------- */
@media only screen and (min-width: 50em) { 

    .join-us-form {
        flex-direction: row;
        justify-content: space-between;
    }

    .join-us-form form {
        width: 50%;
    }

    .membership-levels {
        padding-top: 30px;
        border-radius: 30px;
        width: 50%;
    }
}