:root {
    --h-text: 'Noto', serif;
    --t-text: 'Quicksand', sans-serif;
    --accent-o: #c2bdb7;
    --accent-b: #0a0a09;
    --accent-b-h:#5e512eb7;
    --accent-g:  #978154;
    --accent-w: #fff;
}

.banner {
    background-color: #0a0a09;
	color: #fff ;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    filter: drop-shadow(0px 0px 1px #978154);
}

.banner:hover {
    background-color: var(--accent-g);
}

.banner a {
    text-decoration: none;
    color: var(--accent-w);
  
}

.banner h1 {
    margin: 0;
}

/* ----- desktop view (50 em) -------------------------- */
@media only screen and (min-width: 50em) {
    .banner {
        border-radius: 40px 0 40px 0;
    }

}