:root {
    --h-text: 'Merriweather', serif;
    --t-text: 'Source Sans Pro', sans-serif;
    --accent-b: #0a0a09;
    --accent-b-h:#5e512e;
    --accent-g:  #978154;
    --accent-w: #fff;
}

.attribution {
    font-family: var(--h-text);
    font-style: italic;
}

.stat-data {
    max-width: 700px;
    margin: 48px auto;
    border: 1px solid black;
}

.stat-data p {
    width: 100%;
    padding: 10px 16px 6px 16px;
    font-family: var(--h-text);
}

.stat-data-output .content {
    width: 100%;
    padding: 10px 16px 6px 16px;
    font-family: var(--t-text);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.stat-data-output .content .divider {
    flex: 1 1 auto;
    height: 8px;
    margin: 8px;
    border-bottom: 0.5px dotted var(--accent-b);
}

.stat-data-output .content .value {
    width: 75px;
}

.pp-banner {
    position: relative;
    top: 10px;
    right: 10px;
}

.pp-banner img {
    width: 600px;
    height: 300px;
    object-fit: contain;

}
.events-sec {
    width: 100%;
    margin: 16px auto;
    max-width: 475px;
    display: flex;
    flex-direction: column;
}


.events {
    max-width: 100%;
    border: 1px solid black; 
    

}

.events h2 {
    color: var(--accent-b-h);
}

.event-list {
    font-family: var(--t-text);
    max-width: 330px;
    margin: 0 auto;
}

.event-list div {
    margin-bottom: 12px;
    font-size: 14px;
}

.event-list div .e-name {
    letter-spacing: 0.15em;
    font-size: 18px;
    font-weight: 600;
    color: var(--accent-b);
    margin-bottom: 4px;

}

.event-list div .location {
    color: var(--accent-b)
}

.pp-banner {
    display: block;
    width: 100%;
    
}
.pp-banner img {
    width: 100%;
    

}
.history {
    max-width: 802px;
    background-color: var(--accent-g);
    color: var(--accent-w);
    padding: 16px;
    margin: 0 auto;
}

.history .h-content p {
    letter-spacing: 0.1em;
    line-height: 1.8em;
}

.history .h-content .img-div {
    display: block;
    width: 100%;
}

.history .h-content .img-div img {
    width: 300px;
    display: block;
    max-width: 100%;
    filter: drop-shadow(3px 3px 1px #222);
}

.f-left {
    margin: 16px auto;
    float: none;
}

.f-right {
    margin: 16px auto;
    float: none;
}

/* ----- tablet view (36 em) -------------------------- */
@media only screen and (min-width: 36em) { 

    
    .pp-banner {
        max-width: 100%;
    }
    .pp-banner{
        display: block;
    }

    .history {
        max-width: 800px;
        background-color: var(--accent-g);
        color: var(--accent-w);
        padding: 64px;
        margin: 0 auto;
        border-radius: 30px;
    }

    .history .h-content .img-div img {
        width: 300px;
        max-width: 100%;
    }

    .f-left {
        float: left;
        margin: 8px 16px 8px 0;
    }
    
    .f-right {
        float: right;
        margin: 8px 0 8px 16px;
    }
}

/* ----- desktop view (50 em) -------------------------- */
@media only screen and (min-width: 50em) { 

    .events-sec {
        margin: 40px auto;
    }

}

